<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
</head>

<body>

 
    <!--  ======================= Start Header Area ============================== -->

    <header class="header_area h-100 h-custom"  data-aos="fade-in"  >
        <div class="main-menu  pt-5 py-2 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
<div class="col" >
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand d-flex justify-content-center" href="#"><img src="./assets/logo.png" alt="logo"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="font-family:Bradley Hand, cursive;"  href="#contact">contact</a>
                </li>

            </ul>
        </div>
    </nav>
</div>
  </div>
        </div>
    </header>

    <!--  ======================= End Header Area ============================== -->

    <!--  ======================= Start Main Area ================================ -->
    <main class="site-main"  data-aos="fade-in" >


        <!--  ======================= Start Banner Area =======================  -->
        <section class="site-banner">
            <div class="container">
                <div class="row">
                   
                    <div class="col-lg-4  banner-image">
                        <img src="./assets/banner/banner-image.png" alt="banner-img"class="img-fluid"  >
                    </div>
                    <div class="col-lg-2 col-md-12 banner-image">
                    </div>
                    <div class="col-lg-5 col-md-12 site-title ml-5">
                        <h3 class="title-text" style="font-size: 35px;font-family: Bradley Hand, cursive	;">Hey</h3>
                        <h2 class="title-text " style="font-size: 65px;font-family: Bradley Hand, cursive	;">I am <br> Assala AMINI</h2>
                        <h4 class="title-text " style="font-family: Brush Script MT, Brush Script Std, cursive;">Graphic Designer</h4>
                        <div class="site-buttons">
                            <div class="d-flex flex-row flex-wrap">
                                
                               <a href="#works" ><button type="button" class="btn btn-grad d-flex justify-content-center">Works</button></a>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </section>
        <!--  ======================= End Banner Area =======================  -->
<br>
<br>

        <!--  ========================= About Area ==========================  -->
        <section class="subscribe-us-area" style="  background-color: #d2eaf1; margin-top: 20px;"  >
            <div class="container subscribe">
                    <div class=" d-flex justify-content-center">
                           <h3 style="font-family: Bradley Hand, cursive;font-weight: bold;"> <b>Hi everyone ! Welcome to my portfolio, </b> </h3>
                    </div>
                    <div  class="d-flex justify-content-center">
                        <h2 style="font-family: Bradley Hand, cursive	;font-weight: bold;">EXPLORE IT, YOU WILL ENJOY IT. </h2>                       
                 </div>
             
            </div>
        </section>
        <br>
        <br>
        <section class="h-100 h-custom">
            <div class="container pt-5 py-2 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
        <div class=" text-center services-title">
            <h1 class="text-uppercase title-text" style="font-family: Apple Chancery, cursive	;font-size: xx-large;">Services Offers</h1>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon ml-3 mr-3"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"> </div>
            </div>
    </div>
</div>
</div>
        </section>
        <section class="services-area h-100 h-custom  "  >
            <div class="container  py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col">
                <div class="container services-list ml-5">
                    <div class="row ">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="services">
                                <div class="sevices-img text-center py-4">
                                    <img src="./assets/services/illustration.png" alt="Services-1">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase font-roboto" style="font-family: Apple Chancery, cursive	;">Illustration</h5>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                                      </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                                      </svg>
                                    <p class="card-text text-center"  style="font-family: Apple Chancery, cursive;">
                                                            Illustrate your thoughts amazingly !
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="services">
                                <div class="sevices-img text-center py-4">
                                    <img src="./assets/services/branding.png" alt="Services-2">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase font-roboto" style="font-family: Apple Chancery, cursive	; font-size: 17px;">Brinding</h5>
                                    <p class="card-text text-center"  style="font-family: Apple Chancery, cursive;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                                          </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                                          </svg><br>                                        Design your identity accurately !
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="services">
                                <div class="sevices-img text-center py-4">
                                    <img src="./assets/services/packaging.png" alt="Services-3">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase font-roboto" style="font-family: Apple Chancery, cursive	;">Packaging</h5>
                                    <p class="card-text text-center"  style="font-family: Apple Chancery, cursive;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                                          </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                                          </svg><br>
                                        Have your packaging <br>uniquely !
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
                
               
            </div>
            </div>
        </section>

        <!--  ====================== End Services Area =============================  -->
        <br>
        <br>
        <br>
        <!--  ======================= Project Area =============================  -->
        <section class="h-100 h-custom">
            <div class="container pt-5 py-2 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
        <div class=" text-center services-title">
            <h1 class="text-uppercase title-text" style="font-family: Apple Chancery, cursive	;font-size: xx-large;" id="works">Art Works</h1>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon ml-3 mr-3"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"> </div>
            </div>
    </div>
</div>
</div>
        </section>
        <section class="services-area">
            <div class="container">
                <div class="container project-area">
                    <div class="row grid">
                        <div class="col-lg-4 col-md-6 col-sm-12 element-item latest" *ngFor="let i of projets">
                            <div class="our-project">
                                <div class="img">
                                    <a  href="#demo-modal" (click)="modal(i.nomProjet,i.image_Projet,i.descriptionProjet)"> 
                                        <img src="./assets/banner/projet/{{i.image_Projet}}" alt="portfolio-1" class="img-fluid">
                                    </a>
                                </div>
                                <div class="wrapper title py-4">
                                    <a href="#demo-modal" (click)="modal(i.nomProjet,i.image_Projet,i.descriptionProjet)">   <h4 class="text-uppercase"  style="font-family: Apple Chancery, cursive;">{{i.nomProjet}}</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  ======================= End Project Area =============================  -->

    
        <div id="demo-modal" class="modal">
            <div class="modal__content">
                <h3>{{nom}}</h3>
                <br>
                <div class="img-fluid" style="height: 80%;" >
                    <a class="test-popup-link"  class=" d-flex justify-content-center">
                        <img src="./assets/banner/projet/{{image}}" style="height:450px" class="img-fluid">
                    </a>
                </div>
                <br>
                <div>
                    <p>
                        {{description}}
                    </p>
                </div>
         
        
                <a href="#close" class="modal__close">&times;</a>
            </div>
        </div>



  
        <section class="h-100 h-custom" >
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">      
            <div class="col-lg-12 text-center services-title">
                <h1 class="text-uppercase title-text" style="font-family: Apple Chancery, cursive	;font-size: xx-large;">Projects</h1>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon ml-3 mr-3"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"> </div>
                </div>
          <br>
          <br>
          <br>
          <br>

        </div>
                  <div class="card" style="  background-color: #d2eaf1;">
                    <div class="card-body p-4">
          
                      <div class="row">
                        <div class="col-lg-3 mb-2" >
             
                            <div class="card  m-4 rounded-3">
                                <div class="card-body">
                                 <div class="d-flex justify-content-between align-items-center ">
                                        <h2 class="text-uppercase title-text" style="font-family: Apple Chancery, cursive	;font-size:15px;">Illustrations</h2>
                                 </div>  
                                 <div class="d-flex justify-content-between align-items-center ">
                                    <h6 class="text-uppercase title-text" style="font-family: Apple Chancery, cursive	;font-size: x-large;color:#37b6e9 ;">
                                        <ngx-animated-counter [params]="params1"></ngx-animated-counter>
                                    </h6>
                             </div>  
                      
                                    </div>
                        </div>
                        
                        </div>
                        <div class="col-lg-3 mb-2" >
             
                            <div class="card  m-4 rounded-3">
                                <div class="card-body">
                                 <div class="d-flex justify-content-between align-items-center ">
                                        <h2 class="text-uppercase title-text" style="font-family: Apple Chancery, cursive	;font-size:15px;">Logo Concepts</h2>
                                 </div>  
                                 <div class="d-flex justify-content-between align-items-center ">
                                    <h6 class="text-uppercase title-text" style="font-family: Apple Chancery, cursive	;font-size: x-large;color:#37b6e9 ;">
                                        <ngx-animated-counter [params]="params2"></ngx-animated-counter>
                                    </h6>
                             </div>  
                      
                                    </div>
                        </div>
                        
                        </div>

                        <div class="col-lg-3 mb-2" >
             
                            <div class="card  m-4 rounded-3">
                                <div class="card-body">
                                 <div class="d-flex justify-content-between align-items-center ">
                                        <h2 class="text-uppercase title-text" style="font-family: Apple Chancery, cursive	;font-size:15px;">Instagram Posts</h2>
                                 </div>  
                                 <div class="d-flex justify-content-between align-items-center ">
                                    <h6 class="text-uppercase title-text" style="font-family: Apple Chancery, cursive	;font-size: x-large;color:#37b6e9 ;">
                                        <ngx-animated-counter [params]="params3"></ngx-animated-counter>
                                    </h6>
                             </div>  
                      
                                    </div>
                        </div>
                        
                        </div>


                        <div class="col-lg-3 mb-2" >
             
                            <div class="card  m-4 rounded-3">
                                <div class="card-body">
                                 <div class="d-flex justify-content-between align-items-center ">
                                        <h2 class="text-uppercase title-text" style="font-family: Apple Chancery, cursive	;font-size:15px;">Posters</h2>
                                 </div>  
                                 <div class="d-flex justify-content-between align-items-center ">
                                    <h6 class="text-uppercase title-text" style="font-family: Apple Chancery, cursive	;font-size: x-large;color:#37b6e9 ;">
                                        <ngx-animated-counter [params]="params4"></ngx-animated-counter>
                                    </h6>
                             </div>  
                      
                                    </div>
                        </div>
                        
                        </div>
                        
        
        
        
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </section>
        
          <br>
          <br>
          <br>




















          <section class="h-100 h-custom">
            <div class="container pt-5 py-2 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
        <div class=" text-center services-title">
            <h1 class="text-uppercase title-text" style="font-family: Apple Chancery, cursive	;font-size: xx-large;">Skills</h1>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon ml-3 mr-3"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"> </div>
            </div>
    </div>
</div>
</div>
        </section>

        <!--  ========================== Subscribe me Area ============================  -->

        <section class="subscribe-us-area h-100 h-custom">
            <div class="container subscribe py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col"> 
                <br>
                <div class="row">
                    <div class="col-lg-4 text-center mb-5">
                        <div class="d-sm-flex justify-content-center">
            
                            <circle-progress style="font-family: Apple Chancery, cursive	;"
                            [percent]="80"
                            [radius]="70"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="8"
                            [outerStrokeColor]="'#37b6e9'"
                            [innerStrokeColor]="'#96e5de'"
                            [animation]="true"
                            [showSubtitle]="false"
                            [animationDuration]="1800"
                          ></circle-progress>
                        </div>
                        <h5 style="font-family: Apple Chancery, cursive	;">Adobe</h5>  
                       <h5 style="font-family: Apple Chancery, cursive	;">photoshop</h5>  

                    </div>
                    <div class="col-lg-4 text-center mb-5">
                        <div class="d-sm-flex justify-content-center">
            
                            <circle-progress style="font-family: Apple Chancery, cursive	;color: #f5ee92;"
                            [percent]="85"
                            [radius]="70"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="8"
                            [outerStrokeColor]="'#faeb15'"
                            [innerStrokeColor]="'#f5ee92'"
                            [animation]="true"
                            [showSubtitle]="false"
                            [animationDuration]="1800"
                          ></circle-progress>
                        </div>
                        <h5 style="font-family: Apple Chancery, cursive	;">Adobe</h5>  
                       <h5 style="font-family: Apple Chancery, cursive	;">Illustrator</h5>  

                    </div>
                    <div class="col-lg-4 text-center mb-5">
                        <div class="d-sm-flex justify-content-center">
            
                            <circle-progress style="font-family: Apple Chancery, cursive	;;"
                            [percent]="70"
                            [radius]="70"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="8"
                            [outerStrokeColor]="'#e96260'"
                            [innerStrokeColor]="'#f7c6c5'"
                            [animation]="true"
                            [showSubtitle]="false"
                            [animationDuration]="1800"
                          ></circle-progress>
                        </div>
                        <h5 style="font-family: Apple Chancery, cursive	;">Adobe</h5>  
                       <h5 style="font-family: Apple Chancery, cursive	;">InDesign</h5>  

                    </div>

                </div>
        </div>
                </div>
            </div>
        </section>
        <!--  ========================== End Subscribe me Area ============================  -->

        <!--Section: Contact v.2-->
        <section class="h-100 h-custom">
            <div class="container pt-5 py-2 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
        <div class=" text-center services-title">
            <h1 class="text-uppercase title-text" style="font-family: Apple Chancery, cursive	;font-size: xx-large;"  id="contact">Contact</h1>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon ml-3 mr-3"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"> </div>
            </div>
    </div>
</div>
</div>
        </section>
<section class="m-4 text-md-center  h-100 h-custom " >
    <br>
    <br>
    <div class="container pt-5 py-2 h-100">
        <div class="alert alert-danger" *ngIf="dataa.invalid && dataa.touched" role="alert">
            Form is Empty
           </div>
        <div class="row d-flex justify-content-center align-items-center h-100">
           
            <div class="col">    
    <div class="row justify-center">
    
        <!--Grid column-->
        <div class="col-lg-8 " >
            <form id="contact-form" name="contact-form"  [formGroup]="dataa" (ngSubmit)="Addcontact()">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1"  style="font-family:Bradley Hand, cursive;" class=" d-flex justify-content-start">Your Name</label>
                                <input type="email" class="form-control"  style="font-family:Bradley Hand, cursive;"  id="exampleInputEmail1" formControlName="nomContact" aria-describedby="emailHelp" placeholder="">
                              </div>
                        </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1"  style="font-family:Bradley Hand, cursive;" class=" d-flex justify-content-start">Your Email</label>
                            <input type="email" class="form-control"  style="font-family:Bradley Hand, cursive;"  id="exampleInputEmail1" formControlName="emailContact" aria-describedby="emailHelp" placeholder="">
                          </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1"  style="font-family:Bradley Hand, cursive;" class=" d-flex justify-content-start">Subject</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"  style="font-family:Bradley Hand, cursive;"  formControlName="subjectContact" aria-describedby="emailHelp" placeholder="">
                      </div>
                </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="form-group">
                            <label style="font-family:Bradley Hand, cursive;" class=" d-flex justify-content-start" for="message">Your message</label>
                            <textarea type="text" id="message"  style="font-family:Bradley Hand, cursive;"  name="message" rows="2" formControlName="messageContact" class="form-control md-textarea"></textarea>
                        </div>

                    </div>
                </div>
                <!--Grid row-->
                <div class="text-center text-md-center">
                    <div class="d-flex flex-row flex-wrap">
                        <button  type="submit" [disabled]="!dataa.valid"   class="btn btn-grad d-flex justify-content-center">Send</button>
                    </div>               
                </div>    
            </form>

                     
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 d-flex justify-content-center justify-center">
            <ul class="list-unstyled mb-0 ">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p style="font-family:Bradley Hand, cursive;">Manzah 7, Ariana</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p  style="font-family:Bradley Hand, cursive;" >+ 216 52 737 578</p>
                </li>
                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p  style="font-family:Bradley Hand, cursive;" >+ 216 52 428 841</p>
                </li>
                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p style="font-family:Bradley Hand, cursive;">assalaamini1@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>
</div>
</div>
</div>
</section>
<!--Section: Contact v.2-->

    </main>
    <!--  ======================= End Main Area ================================ -->
  
    <footer class="footer-area"  data-aos="fade-in" >
        <div class="container">
            <div class="">
                <div class="site-logo text-center py-4">
                    <a href="#"><img src="./assets/logo.png" alt="logo"></a>
                </div>
                <div class="social text-center">
                    <h5 class="text-uppercase" style="font-family:Bradley Hand, cursive;" >Follow me</h5>
                    <a href="https://www.behance.net/aminiassal666b"><i class="fab fa-behance"></i></a>
                    <a href="https://www.instagram.com/assala_amini"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="copyrights text-center">
                    <p class="para">
                        Copyright ©2022 All rights reserved |  made by
                        <a href="#"><span style="color: var(--primary-color);">Saifeddine</span></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    </body>

</html>